<%= turbo_frame_tag "modal" do %>
  <div class="fixed top-12 right-0 left-0 z-50 flex justify-center"  data-controller="modal"data-modal-target="container" data-action="click->modal#closeBackground">
    <div class="max-h-screen max-w-lg relative flex">
      <div class="m-1 bg-white rounded shadow">
        <div class="p-8">
          <%= render @task %>
        </div>
      </div>
    </div>
  </div>
<% end %>