<%= turbo_frame_tag "users" do %>
  <div class="overflow-auto hidden md:block shadow-md sm:rounded-lg border-2">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <% if notice.present? %>
        <p data-controller="autohide" data-autohide-class-value="opacity-0" data-autohide-delay-value="1000" class="py-1 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block transition-all ease-in-out duration-500" id="notice"><%= notice %></p>
      <% end %>
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">
            E-Mail
          </th>
          <th scope="col" class="py-3 px-6">
            Name
          </th>
          <th scope="col" class="py-3 px-6">
            Role
          </th>
          <th scope="col" class="py-3 px-6">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render users %>
      </tbody>
    </table>
  </div>
<% end %>