<div class="inline-flex" role="group">
   <div class = "basics-plain">
   <%= link_to account_learningmap_path(active_layer: "basics") do%>
      <h3>Basics</h3>
   <% end %>
   </div>
   <div class = "research-plain">
   <%= link_to account_learningmap_path(active_layer: "research") do%>
      <h3>Research</h3>
   <% end %>
   </div>
   <div class = "product-plain">
   <%= link_to account_learningmap_path(active_layer: "product") do%>
      <h3>Product</h3>
   <% end %>
   </div>
</div>