<%= link_to account_learningmap_path(active_layer: "basics") do%>
  <div class="layers">
    <div class="basics">
        <h3>Basics</h3>
    </div>
  </div>
 <% end %>
<%= link_to account_learningmap_path(active_layer: "research") do%>
  <div class="layers">
    <div class="research">
        <h3>Research</h3>
    </div>
  </div>
<% end %>
<%= link_to account_learningmap_path(active_layer: "product") do%>
  <div class="layers">
    <div class="product">
        <h3>Product</h3>
    </div>
  </div>
<% end %>
    