@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'actiontext.css';

@layer components {
  .btn {
    @apply text-white bg-[#FF9119] hover:bg-[#FF9119]/80 focus:ring-4 focus:outline-none focus:ring-[#FF9119]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#FF9119]/80 dark:focus:ring-[#FF9119]/40 mr-2 mb-2;
  }
  .btn-small {
    @apply py-2 px-3 text-xs font-medium  mr-2 mb-2 rounded-lg text-sky-600 hover:text-white border border-sky-400 hover:bg-sky-500 focus:ring-4 focus:outline-none focus:ring-sky-300 dark:border-sky-300 dark:text-sky-600 dark:hover:text-white dark:hover:bg-sky-400 dark:focus:ring-sky-900;
  }
  .title{
    @apply text-4xl text-sky-600 font-normal leading-normal mt-0 mb-2;
  }

  .card {
    @apply block p-6 max-w-sm bg-white rounded-lg border border-gray-200 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  }

  .basics {
   @apply block opacity-30 p-6 max-w-sm bg-white rounded-lg border border-emerald-200 shadow-md shadow-emerald-600 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
   }
  .research {
   @apply block opacity-30 p-6 max-w-sm bg-white rounded-lg border border-amber-200 shadow-md shadow-amber-500 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  }
  .product {
   @apply block opacity-30 p-6 max-w-sm bg-white rounded-lg border border-pink-200 shadow-md shadow-pink-600 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
  }

  .basics-plain{
   @apply bg-emerald-100 text-emerald-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300;
  }

  .research-plain{
    @apply bg-amber-100 text-amber-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-amber-900 dark:text-amber-300;
  }

  .product-plain{
    @apply bg-pink-100 text-pink-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300;
  }

  .layers {
    position: absolute;
    top: 45%;
    left: 17%;
    margin: -180px 0 0 -140px;
    user-select: none;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
  }
  .layers:after {
    position: absolute;
    bottom: -27px;
    left: 5%;
    content: '';
    width: 65%;
    height: 10px;
    border-radius: 100%;
  }
  .layers > div {
    position: relative;
    width: 120px;
    height: 88px;
    border-radius: 12px;
    transform: rotateX(45deg) rotateY(0deg) rotate(-15deg);
    transition: all 0.4s ease;
    overflow: hidden;
    cursor: pointer;
  }

  .layers > div:after {
    position: absolute;
    top: -70px;
    left: 0;
    content: '';
    width: 200%;
    height: 200%;
    transform: translateX(-100%);
    background-image: linear-gradient(60deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.1), rgba(255,255,255,0) 80%);
    transform: translateX(-100%);
  }
  .layers > div img {
    margin-top: 15px;
    pointer-events: none;
  }
  .layers > div h3 {
    color: white;
    position: absolute;
    bottom: 28px;
    left: 15px;
    font-size: 18px;
    font-weight: 800;
  }
   .layers > div span {
    position: absolute;
    font-weight: 700;
    bottom: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.8;
  }
    .layers > div.basics {
    margin-top: 0;
    z-index: 3;
    opacity: 1;
    background-image: linear-gradient(135deg, #059669, #047a80);
  }
    .layers > div.research {
    margin-top: -40px;
    z-index: 2;
    opacity: 1;
    background-image: linear-gradient(135deg, #f6aa3e, #a34f05);
  }
  .layers > div.product {
    margin-top: -90px;
    z-index: 1;
    opacity: 1;
    background-image: linear-gradient(135deg, #db2777, #a60d97);
  }

  .layers > div.first {
    margin-top: 10px;
    box-shadow: 5px 5px 60px rgba(34,50,84,0.1), 1px 1px 0px 1px #352f64;
  }

  .layers > div:hover {
    transform: rotateX(30deg) rotateY(0deg) rotate(0deg) translate(30px, 10px);
  }
  .layers > div:hover:after {
    transform: translateX(100%);
    transition: all 1.2s ease-in-out;
  }
  
    div.translate:nth-of-type(2n+1) {
      transform: translateY(40%);
    }

    iframe {
      width: 560px;
      height: 315px;
    }

    .leader-line {
      z-index: -1;
    }
}